@model SimpleCrudDapper.Models.BookViewModel

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Form</h3>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="title" class="control-label">Title</label>
                        <input asp-for="title" class="form-control" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="author" class="control-label">Author</label>
                        <input asp-for="author" class="form-control" />
                        <span asp-validation-for="author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="year" class="control-label">Year</label>
                        <input asp-for="year" class="form-control" />
                        <span asp-validation-for="year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="publisher" class="control-label">Publisher</label>
                        <input asp-for="publisher" class="form-control" />
                        <span asp-validation-for="publisher" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ref_genre_id" class="control-label">Genre</label>
                        <select asp-for="ref_genre_id" class="form-control" asp-items="@ViewBag.Genres"></select>
                        <span asp-validation-for="ref_genre_id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Library</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
